
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MulishBold.ttf"); font-family : "Mulish"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MulishRegular.ttf"); font-family : "Mulish"; font-weight : 400;  }